tar.bz2: sources/legacy name=kernel-source-etercifs-legacy-1.50c
tar.bz2: sources/centos52 name=kernel-source-etercifs-centos52-1.50c
tar.bz2: sources/centos53 name=kernel-source-etercifs-centos53-1.54
tar.bz2: sources/2.6.16 name=kernel-source-etercifs-2.6.16-1.50
tar.bz2: sources/2.6.23 name=kernel-source-etercifs-2.6.23-1.50
tar.bz2: sources/2.6.24 name=kernel-source-etercifs-2.6.24-1.52
tar.bz2: sources/2.6.25 name=kernel-source-etercifs-2.6.25-1.52
tar.bz2: sources/2.6.26 name=kernel-source-etercifs-2.6.26-1.53
tar.bz2: sources/2.6.27 name=kernel-source-etercifs-2.6.27-1.54
tar.bz2: sources/2.6.28 name=kernel-source-etercifs-2.6.28-1.55
tar.bz2: sources/2.6.29 name=kernel-source-etercifs-2.6.29-1.57
tar.bz2: etercifs
