tar.bz2: sources/legacy name=kernel-source-etercifs-legacy-1.50c
tar.bz2: sources/centos52 name=kernel-source-etercifs-centos52-1.50c
tar.bz2: sources/centos53 name=kernel-source-etercifs-centos53-1.54
tar.bz2: sources/centos54 name=kernel-source-etercifs-centos54-1.58
tar.bz2: sources/centos55 name=kernel-source-etercifs-centos55-1.60
tar.bz2: sources/centos56 name=kernel-source-etercifs-centos56-1.60
tar.bz2: sources/centos-ovz name=kernel-source-etercifs-centos-ovz-1.60
tar.bz2: sources/centos60 name=kernel-source-etercifs-centos60-1.63
tar.bz2: sources/2.6.16 name=kernel-source-etercifs-2.6.16-1.50
tar.bz2: sources/2.6.23 name=kernel-source-etercifs-2.6.23-1.50
tar.bz2: sources/2.6.24 name=kernel-source-etercifs-2.6.24-1.52
tar.bz2: sources/2.6.25 name=kernel-source-etercifs-2.6.25-1.52
tar.bz2: sources/2.6.26 name=kernel-source-etercifs-2.6.26-1.53
tar.bz2: sources/2.6.27 name=kernel-source-etercifs-2.6.27-1.54
tar.bz2: sources/2.6.28 name=kernel-source-etercifs-2.6.28-1.55
tar.bz2: sources/2.6.29 name=kernel-source-etercifs-2.6.29-1.57
tar.bz2: sources/2.6.30 name=kernel-source-etercifs-2.6.30-1.58
tar.bz2: sources/2.6.31 name=kernel-source-etercifs-2.6.31-1.60
tar.bz2: sources/2.6.32 name=kernel-source-etercifs-2.6.32-1.61
tar.bz2: sources/2.6.33 name=kernel-source-etercifs-2.6.33-1.62
tar.bz2: sources/2.6.34 name=kernel-source-etercifs-2.6.34-1.62
tar.bz2: sources/2.6.35 name=kernel-source-etercifs-2.6.35-1.64
tar.bz2: sources/2.6.36 name=kernel-source-etercifs-2.6.36-1.65
tar.bz2: sources/2.6.37 name=kernel-source-etercifs-2.6.37-1.68
tar.bz2: sources/2.6.38 name=kernel-source-etercifs-2.6.38-1.71
tar.bz2: sources/2.6.39 name=kernel-source-etercifs-2.6.39-1.71
tar.bz2: sources/3.0 name=kernel-source-etercifs-3.0-1.74
tar.bz2: sources/3.1 name=kernel-source-etercifs-3.1-1.75
tar.bz2: sources/3.2 name=kernel-source-etercifs-3.2-1.76
tar.bz2: sources/3.3 name=kernel-source-etercifs-3.3-1.76
tar.bz2: sources/3.4 name=kernel-source-etercifs-3.4-1.78
tar.bz2: sources/3.5 name=kernel-source-etercifs-3.5-1.78
tar.bz2: etercifs
