tar.bz2: sources/legacy name=kernel-source-etercifs-legacy-1.50c
tar.bz2: sources/2.6.24 name=kernel-source-etercifs-2.6.24-1.52
tar.bz2: sources/2.6.25 name=kernel-source-etercifs-2.6.25-1.52
tar.bz2: etercifs
